# MACHINE LEARNING PROJECT

## Videogames recommendation systems: 'Based on genres' & 'Based on text similarities'

Nowadays, recommendation systems have reached great popularity, and, as we can see, almost every online plataform has its own, 
from e-commerce to streaming. In regards to videogames, 
For this project I will create my own dataset from the IGDB's API, which contains data from all existing videogames.

### Imports

In [3]:
import pandas as pd
import numpy as np
import datetime
import requests
import json
import csv
import nums_from_string

### Acces Token Generator

In [6]:
client_id = 'cx7y52xxjyfhu4c9k55joyq38tmohf'
client_secret = '1tx210t3jxeyx9dljdudxhf7hexy1o'

body = {
    'client_id': client_id,
    'client_secret': client_secret,
    "grant_type": 'client_credentials'
}

r = requests.post('https://id.twitch.tv/oauth2/token', body)

#data output
keys = r.json();

print(keys)

headers = {
    'Client-ID': client_id,
    'Authorization': 'Bearer ' + keys['access_token']
}

print(headers)
print('Status code:', r.status_code)

{'access_token': 'ayibk9gb53g5xe4ggz9mbbgzf2tda6', 'expires_in': 4857438, 'token_type': 'bearer'}
{'Client-ID': 'cx7y52xxjyfhu4c9k55joyq38tmohf', 'Authorization': 'Bearer ayibk9gb53g5xe4ggz9mbbgzf2tda6'}
Status code: 200

### API requests & crafting DF's

In [47]:
# DAMELO TODO P(API)

url = "https://api.igdb.com/v4/games"

client_id = 'cx7y52xxjyfhu4c9k55joyq38tmohf'
client_secret = '1tx210t3jxeyx9dljdudxhf7hexy1o'

token = "x5y9qr8ii8itzbg7pjh97tbbt5kqm4"

headers = {
    'Client-ID': client_id,
    #'access_token': token,
    'Authorization': 'Bearer ' + token
    }

body = "fields *; genres.name; limit 500;where id > 500; sort id asc;" 


todos_datos = []
for i in range(0, 1000000, 500):
    limite_superior = i + 500
    
    body = "fields *; genres.name; limit 500;where id > " + str(limite_superior) + "; sort id asc;" 
    

    response = requests.request("POST",
                                url=url,
                                headers = headers,
                                data = body)
    output = response.json()
    todos_datos = todos_datos + output
    
response.status_code

200

In [8]:
# GENRES MAP ID

todos_generos = []
for i in range(0, 1000000, 500):
    limite_superior = i + 500


    url_2 = 'https://api.igdb.com/v4/genres'
    body = "fields name; genres.name; limit 500;" + str(limite_superior) + 'sort id asc;'
    

    response_2 = requests.request("POST",
                                url=url_2,
                                headers = headers,
                                data = body)
    
    output_2 = response_2.json()
    todos_generos = todos_generos + output_2
    
response_2.status_code

200

In [48]:
# Creating dataframes and checking the values.

all_data = pd.DataFrame(todos_datos)
all_data.head()

,id,age_ratings,aggregated_rating,aggregated_rating_count,alternative_names,artworks,bundles,category,collection,cover,...,hypes,remasters,status,expanded_games,standalone_expansions,parent_game,remakes,version_parent,version_title,forks
0,501,"[4944, 34055]",91.200000,13.0,"[2706, 39937, 52606]","[732, 733, 734, 735, 736, 737, 738, 739, 740, ...","[19245, 21704, 43019, 112659, 138185]",0,68.0,87713.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,502,[4397],73.375000,12.0,NaN,[26409],NaN,0,NaN,80264.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,503,[13266],84.333333,8.0,"[13979, 46853]",NaN,NaN,0,91.0,93565.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,504,"[15955, 44868]",78.000000,14.0,"[14361, 46363]",[8759],[83837],0,92.0,97264.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,505,[13521],65.800000,6.0,NaN,"[3275, 3276, 3277, 3278, 3279, 3280, 3281, 328...",NaN,0,NaN,69807.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172041 entries, 0 to 172040
Data columns (total 55 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       172041 non-null  int64
 1   age_ratings              26687 non-null   object
 2   aggregated_rating        14038 non-null   float64
 3   aggregated_rating_count  14038 non-null   float64
 4   alternative_names        28456 non-null   object
 5   artworks                 40156 non-null   object
 6   bundles                  4255 non-null    object
 7   category                 172041 non-null  int64
 8   collection               30324 non-null   float64
 9   cover                    120527 non-null  float64
 10  created_at               172041 non-null  int64
 11  dlcs                     1840 non-null    object
 12  expansions               446 non-null     object
 13  external_games           165988 non-null  object
 14  first_release_date       99342 non-null   float64
 15  follows                  20588 non-null   float64
 16  franchise                1444 non-null    float64
 17  franchises               12026 non-null   object
 18  game_engines             12609 non-null   object
 19  game_modes               86571 non-null   object
 20  genres                   129671 non-null  object
 21  involved_companies       72214 non-null   object
 22  keywords                 72672 non-null   object
 23  name                     172041 non-null  object
 24  platforms                102576 non-null  object
 25  player_perspectives      50124 non-null   object
 26  rating                   28975 non-null   float64
 27  rating_count             28975 non-null   float64
 28  release_dates            102578 non-null  object
 29  screenshots              105627 non-null  object
 30  similar_games            135400 non-null  object
 31  slug                     172041 non-null  object
 32  storyline                11753 non-null   object
 33  summary                  139233 non-null  object
 34  tags                     135428 non-null  object
 35  themes                   84098 non-null   object
 36  total_rating             33876 non-null   float64
 37  total_rating_count       33876 non-null   float64
 38  updated_at               172041 non-null  int64
 39  url                      172041 non-null  object
 40  videos                   33337 non-null   object
 41  websites                 96934 non-null   object
 42  checksum                 172041 non-null  object
 43  ports                    1231 non-null    object
 44  multiplayer_modes        7313 non-null    object
 45  hypes                    7552 non-null    float64
 46  remasters                388 non-null     object
 47  status                   11077 non-null   float64
 48  expanded_games           607 non-null     object
 49  standalone_expansions    154 non-null     object
 50  parent_game              14727 non-null   float64
 51  remakes                  370 non-null     object
 52  version_parent           4565 non-null    float64
 53  version_title            4321 non-null    object
 54  forks                    27 non-null      object
dtypes: float64(15), int64(4), object(36)
memory usage: 72.2+ MB

In [50]:
# Checking for our interes columns.

all_data['genres']

0             [25, 31]
1                  [5]
2             [13, 14]
3         [12, 25, 31]
4         [12, 25, 31]
              ...
172036        [12, 34]
172037     [9, 33, 35]
172038     [9, 31, 32]
172039             NaN
172040             NaN
Name: genres, Length: 172041, dtype: object

In [51]:
all_data['summary']

0         After the events of Batman: Arkham Asylum (200...
1         Brink is an immersive first-person shooter tha...
2         The best-selling and most critically-acclaimed...
3         Set 50 years after the events of Fable II, the...
4         It will take the combined efforts of two great...
                                ...
172036    Rewrite+ is an enhanced game that contains bot...
172037    Pipe fitter is the best brain-teaser for every...
172038    Tall Poppy is a fun-house horror experience wh...
172039                                                  NaN
172040                                                  NaN
Name: summary, Length: 172041, dtype: object

In [52]:
all_data['storyline']

0         At a press conference held by Bruce Wayne to d...
1                                                       NaN
2                                                       NaN
3         Your journey to rule the throne of Albion begi...
4                                                       NaN
                                ...
172036    The city of afforestation, Kazamatsuri.\nIn th...
172037                                                  NaN
172038                                                  NaN
172039                                                  NaN
172040                                                  NaN
Name: storyline, Length: 172041, dtype: object

In [53]:
all_data['tags']

0         [1, 23, 38, 268435481, 268435487, 536870926, 5...
1         [1, 18, 27, 268435461, 536871041, 536871049, 5...
2         [32, 268435469, 268435470, 536870938, 53687093...
3         [1, 17, 27, 33, 268435468, 268435481, 26843548...
4         [1, 17, 22, 268435468, 268435481, 268435487, 5...
                                ...
172036                    [1, 17, 27, 268435468, 268435490]
172037                [34, 268435465, 268435489, 268435491]
172038    [19, 27, 268435465, 268435487, 268435488, 5368...
172039                                                  NaN
172040                                                  NaN
Name: tags, Length: 172041, dtype: object

In [54]:
"""
We just need two of the features for our recommendation systems, 
which are 'summary' and 'genres'. We could just also 'tags' and
'storyline', but this seconds one has too much missings, and on 
the other hand, 'tags' has too much values, which can make our
system too slow at calculating.
"""

"\nWe just need two of the features for our recommendation systems, \nwhich are 'summary' and 'genres'. We could just also 'tags' and\n'storyline', but this seconds one has too much missings, and on \nthe other hand, 'tags' has too much values, which can make our\nsystem too slow at calculating.\n"

In [55]:
# We have a problem with 'genres' column. We have its ID's, so wee need to map it
# creating a dictionary to exchange values from keys in the dataframe.

data_genres = pd.DataFrame(todos_generos)
data_genres.head()

   id      name
0   4  Fighting
1   5   Shooter
2   7     Music
3   8  Platform
4   9    Puzzle

In [56]:
data_genres['name'].unique()

array(['Fighting', 'Shooter', 'Music', 'Platform', 'Puzzle', 'Racing',
       'Real Time Strategy (RTS)', 'Role-playing (RPG)', 'Simulator',
       'Sport', 'Strategy', 'Turn-based strategy (TBS)', 'Tactical',
       'Quiz/Trivia', "Hack and slash/Beat 'em up", 'Pinball',
       'Adventure', 'Arcade', 'Visual Novel', 'Indie',
       'Card & Board Game', 'MOBA', 'Point-and-click'], dtype=object)

In [57]:
data_genres = data_genres.drop_duplicates()

In [58]:
# Creating the dictionary.

keys = []
values = []
for i in data_genres['id']:
    keys.append(i)
for i in data_genres['name']:
    values.append(i)
    
dic_genres = dict(zip(keys, values))

In [59]:
# Checking.

print(dic_genres.keys())
print(dic_genres.values())

dict_keys([4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 24, 26, 25, 30, 31, 33, 34, 32, 35, 36, 2])
dict_values(['Fighting', 'Shooter', 'Music', 'Platform', 'Puzzle', 'Racing', 'Real Time Strategy (RTS)', 'Role-playing (RPG)', 'Simulator', 'Sport', 'Strategy', 'Turn-based strategy (TBS)', 'Tactical', 'Quiz/Trivia', "Hack and slash/Beat 'em up", 'Pinball', 'Adventure', 'Arcade', 'Visual Novel', 'Indie', 'Card & Board Game', 'MOBA', 'Point-and-click'])

In [60]:
# This function will allow to map the 'genres' with the 'genres' dictionary, exchanging
# its keys ('id) for the values ('genres').

def genreLabel(gcolumn, dictionary):
    gcolumn = gcolumn.copy()
    for i in range(gcolumn.shape[0]):
        listav = []
        if not gcolumn.isnull()[i]:
            numberlis = gcolumn[i]
            if len(numberlis)>0:
                for j in range(len(numberlis)):
                    listav.append(dictionary[numberlis[j]])
                gcolumn[i]=listav
    return gcolumn

In [61]:
# Creating a new column for the new values.

all_data['genre'] = genreLabel(all_data['genres'][0:171951], dic_genres)

In [62]:
all_data['genre']

0                   [Hack and slash/Beat 'em up, Adventure]
1                                                 [Shooter]
2                                        [Simulator, Sport]
3         [Role-playing (RPG), Hack and slash/Beat 'em u...
4         [Role-playing (RPG), Hack and slash/Beat 'em u...
                                ...
172036                                                  NaN
172037                                                  NaN
172038                                                  NaN
172039                                                  NaN
172040                                                  NaN
Name: genre, Length: 172041, dtype: object

In [63]:
# Dropping all the unnecessary columns.

all_data.columns

Index(['id', 'age_ratings', 'aggregated_rating', 'aggregated_rating_count',
       'alternative_names', 'artworks', 'bundles', 'category', 'collection',
       'cover', 'created_at', 'dlcs', 'expansions', 'external_games',
       'first_release_date', 'follows', 'franchise', 'franchises',
       'game_engines', 'game_modes', 'genres', 'involved_companies',
       'keywords', 'name', 'platforms', 'player_perspectives', 'rating',
       'rating_count', 'release_dates', 'screenshots', 'similar_games', 'slug',
       'storyline', 'summary', 'tags', 'themes', 'total_rating',
       'total_rating_count', 'updated_at', 'url', 'videos', 'websites',
       'checksum', 'ports', 'multiplayer_modes', 'hypes', 'remasters',
       'status', 'expanded_games', 'standalone_expansions', 'parent_game',
       'remakes', 'version_parent', 'version_title', 'forks', 'genre'],
      dtype='object')

In [64]:
all_data = all_data.drop(columns = ['id', 'age_ratings', 'aggregated_rating', 'aggregated_rating_count',
       'alternative_names', 'artworks', 'bundles', 'category', 'collection',
       'cover', 'created_at', 'dlcs', 'expansions', 'external_games',
       'first_release_date', 'follows', 'franchise', 'franchises',
       'game_engines', 'game_modes', 'genres', 'involved_companies',
       'keywords', 'platforms', 'player_perspectives', 'rating',
       'rating_count', 'release_dates', 'screenshots', 'similar_games', 'slug',
       'storyline', 'tags', 'themes', 'total_rating',
       'total_rating_count', 'url', 'videos', 'websites',
       'checksum', 'ports', 'multiplayer_modes', 'hypes', 'remasters',
       'status', 'expanded_games', 'standalone_expansions', 'parent_game',
       'remakes', 'version_parent', 'version_title', 'forks'])

In [65]:
# Checking.

all_data.columns

Index(['name', 'summary', 'updated_at', 'genre'], dtype='object')

In [66]:
# Transforming milisec. date into datetime.

all_data['updated_at']

0         1632697019
1         1629046045
2         1632602205
3         1632442432
4         1627293522
             ...
172036    1632736942
172037    1632748404
172038    1632749432
172039    1632748886
172040    1632749084
Name: updated_at, Length: 172041, dtype: int64

In [67]:
all_data['updated_at'] = pd.to_datetime(all_data['updated_at'], unit = 'ms')

In [68]:
# Checking.

all_data['updated_at']

0        1970-01-19 21:31:37.019
1        1970-01-19 20:30:46.045
2        1970-01-19 21:30:02.205
3        1970-01-19 21:27:22.432
4        1970-01-19 20:01:33.522
                   ...
172036   1970-01-19 21:32:16.942
172037   1970-01-19 21:32:28.404
172038   1970-01-19 21:32:29.432
172039   1970-01-19 21:32:28.886
172040   1970-01-19 21:32:29.084
Name: updated_at, Length: 172041, dtype: datetime64[ns]

In [69]:
# Let's clear all rows with missings.

all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172041 entries, 0 to 172040
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   name        172041 non-null  object
 1   summary     139233 non-null  object
 2   updated_at  172041 non-null  datetime64[ns]
 3   genre       129616 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 5.3+ MB

In [70]:
all_data = all_data.dropna()

In [71]:
# Checking.

all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123006 entries, 0 to 171950
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   name        123006 non-null  object
 1   summary     123006 non-null  object
 2   updated_at  123006 non-null  datetime64[ns]
 3   genre       123006 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 4.7+ MB

In [72]:
# Taking the update dates was originally mean to take only
# values higher than 1990, but all the dates are placed in
# 1970, so, we can delete them.

all_data.drop(columns = ['updated_at'], inplace = True)

In [73]:
# Checking.

all_data.head()

,name,summary,genre
0,Batman: Arkham City,After the events of Batman: Arkham Asylum (200...,"[Hack and slash/Beat 'em up, Adventure]"
1,Brink,Brink is an immersive first-person shooter tha...,[Shooter]
2,FIFA 11,The best-selling and most critically-acclaimed...,"[Simulator, Sport]"
3,Fable III,"Set 50 years after the events of Fable II, the...","[Role-playing (RPG), Hack and slash/Beat 'em u..."
4,Hunted: The Demon's Forge,It will take the combined efforts of two great...,"[Role-playing (RPG), Hack and slash/Beat 'em u..."

### Export to CSV.

In [79]:
"""
Last step will be exporting the dataframe to two different '.csv'.
Each one of them for a different recommendation system.
"""

# Creating a copy in case a mistake is made.

data_copy = all_data.copy()

# First one will take the names and the summarys.

vg_plots = data_copy.drop('genre', axis = 1)

In [81]:
vg_plots.head()

,name,summary
0,Batman: Arkham City,After the events of Batman: Arkham Asylum (200...
1,Brink,Brink is an immersive first-person shooter tha...
2,FIFA 11,The best-selling and most critically-acclaimed...
3,Fable III,"Set 50 years after the events of Fable II, the..."
4,Hunted: The Demon's Forge,It will take the combined efforts of two great...

In [82]:
# Second one will take the names and the genre.

vg_genres = data_copy.drop('summary', axis = 1)

In [83]:
vg_genres.head()

,name,genre
0,Batman: Arkham City,"[Hack and slash/Beat 'em up, Adventure]"
1,Brink,[Shooter]
2,FIFA 11,"[Simulator, Sport]"
3,Fable III,"[Role-playing (RPG), Hack and slash/Beat 'em u..."
4,Hunted: The Demon's Forge,"[Role-playing (RPG), Hack and slash/Beat 'em u..."

In [89]:
# Now we can export each dataframe to a 'csv.'.

vg_plots.to_csv('vg_plots.csv')
vg_genres.to_csv('vg_genres.csv')

# Finally, exporting the complete dataframe in case the others fail.

data_copy.to_csv('vg_all.csv')

### Generating the dummies.

In [90]:
'''
I figured out that when I created the 'csv.'s', the column 'genre'
turned from list format into str, which means that I can't use it
for my porpuse. 
So, I'm generating here the dummies and exporting to a csv to run
my recommendation system.
'''

genres_dumm = data_copy.join(pd.get_dummies(data_copy['genre'].apply(pd.Series).stack()).sum(level=0))

In [93]:
genres_dumm.head()

,name,summary,genre,Adventure,Arcade,Card & Board Game,Fighting,Hack and slash/Beat 'em up,Indie,MOBA,...,Racing,Real Time Strategy (RTS),Role-playing (RPG),Shooter,Simulator,Sport,Strategy,Tactical,Turn-based strategy (TBS),Visual Novel
0,Batman: Arkham City,After the events of Batman: Arkham Asylum (200...,"[Hack and slash/Beat 'em up, Adventure]",1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Brink,Brink is an immersive first-person shooter tha...,[Shooter],0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,FIFA 11,The best-selling and most critically-acclaimed...,"[Simulator, Sport]",0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
3,Fable III,"Set 50 years after the events of Fable II, the...","[Role-playing (RPG), Hack and slash/Beat 'em u...",1,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Hunted: The Demon's Forge,It will take the combined efforts of two great...,"[Role-playing (RPG), Hack and slash/Beat 'em u...",1,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0

In [94]:
# Exporting to 'csv.'.

genres_dumm.to_csv('genres_dumm.csv')